 
/* Flexybox- Sexy box*/



.flex-container-hello {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  
    }

.flex-item-hello:nth-child(1) {
    order: 1;
    flex: 0 1 auto;
    align-self: auto;
    }

.flex-container-quick {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
   border-radius: 38px 38px 0px 0px;
-moz-border-radius: 38px 38px 0px 0px;
-webkit-border-radius: 38px 38px 0px 0px;

  
    }

.flex-item-quick:nth-child(1) {
    order: 1;
    flex: 0 1 auto;
    align-self: center;
  width:45%;
  text-align:center;
    }

.flex-container-quick2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  text-align:center;
   border-radius: 0px 0px 38px 38px;
-moz-border-radius: 0px 0px 38px 38px;
-webkit-border-radius: 0px 0px 38px 38px;

  
  
    }
.flex-container-quick2 p{
  width:55%;
  padding-left:25%
}

.flex-container-quick2 img{
  width:25px;
  background-color:hsla(5, 53%, 63%, 0.9);
  border-radius: 25%;
  width: 75px;
  padding:5%;}

.flex-item-quick2:nth-child(1) {
    order: 1;
    flex: 0 1 auto;
    align-self: auto;
  width:33%;
    }

.flex-item-quick2:nth-child(2) {
    order: 2;
    flex: 0 1 auto;
    align-self: auto;
  width:33%;
    }

.flex-item-quick2:nth-child(3) {
    order: 3;
    flex: 0 1 auto;
    align-self: auto;
  width:33%;
  
  

    }

  .flex-about {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
background:#fff;
 border-radius: 36px 36px 36px 38px;
-moz-border-radius: 36px 36px 36px 38px;
-webkit-border-radius: 36px 36px 36px 38px;
border: 0px none ;}


.flex-item-about:nth-child(1) {
    order: 1;
    flex: 0 1 auto;
    align-self: flex-start;
  
    }

.flex-item-about:nth-child(2) {
    order: 2;
    flex: 0 1 auto;
    align-self: flex-start;

    }

#beartooth img{   border-radius: 0px 38px 38px 0px;
-moz-border-radius: 0px 38px 38px 0px;
-webkit-border-radius: 0px 38px 38px 0px;}

.flex-about h2{
padding-top:2% ;
  font-size:29pt;
  
}

.flex-about p{
  font-size:18px;
  width:85%;
}


	
/*Oh, what a pretty navagation*/

	.navigation {
  list-style: none;
  margin: 0; 
  
  background: hsla(5, 53%, 63%, 0.9);
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
    
      
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: hsl(5, 53%, 40%);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

/* Navagation over*/


/*  End Flexybox- Now to make it pretty!*/

/*#who {background-image: url('/images/5f01b521.png');
  background-size: 150px 100px;
  height:100%;
  padding:0 0 100px 0;
	color:#000;
}*/



/*#hello {background: url('/images/njdwuhmay8a-aleks-dorohovich - Copy.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
	padding:0 0 100px 0 ;
	color:#000;
}*/
#case {background: url('/images/5ntkpxqt54y-sai-kiran-anagani.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
	padding:0 0 100px 0 ;
	color:#000;
	background-color:#fff;
}

body {background-color: hsl(34, 53%, 82%);
background-image: repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 68%, 0.5) 5px, hsla(197, 62%, 68%, 0.5) 10px,                  
  hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
  hsla(197, 62%, 68%, 0.5) 40px, hsla(197, 62%, 68%, 0.5) 50px, hsla(197, 62%, 68%, 0) 50px, hsla(197, 62%, 68%, 0) 60px,                
  hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
  hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
  hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 68%, 0.5) 120px, hsla(197, 62%, 68%, 0.5) 140px       
  ),
repeating-linear-gradient(135deg, transparent 5px, hsla(197, 62%, 68%, 0.5) 5px, hsla(197, 62%, 68%, 0.5) 10px, 
  hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
  hsla(197, 62%, 68%, 0.5) 40px, hsla(197, 62%, 68%, 0.5) 50px, hsla(197, 62%, 68%, 0) 50px, hsla(197, 62%, 68%, 0) 60px,                
  hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
  hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
  hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, hsla(197, 62%, 68%, 0.5) 140px, hsla(197, 62%, 68%, 0.5) 160px       
);
  height:100%;
	padding:0 0 100px 0 ;
  font-family: Raleway, sans-serif;
  max-width:95%;
  margin: 0 5%;
    
}

#quick{
  background:	hsl(12, 10%, 95%);
  
  font-family: Raleway, sans-serif; 
}





#what {background: url('/images/startup-website-layout-wireframes-ideas-sketched-on-paper-picjumbo-com - Copy.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
	padding:0 0 100px 0 ;
}

a{color:#140706;}

p{font-family:arial}
